body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
}

button{
    margin: 5px;
}

.blokje{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: darkgreen;
    background-color: chartreuse;
    border: 5px solid green;
}

.score{
    color: darkblue;
    background-color: lightskyblue;
    border: 5px solid blue; 
}