*{
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu li a{

    background-color: lightskyblue;
    padding: 10px;
    
}

.menu li a:link{

    color: blue;
}
/* This code doen't work. */
.menu li a:visited{

    color: orangered;
}
.menu li a:hover{

    color: yellow;
}
.menu li a:active{

    color: red;
}