a{
    background-color:aqua;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    padding: 12px;
}

a:hover{
    background-color: chartreuse;
}   
a:active{
    background-color: blueviolet;
}
