td, th{
    padding: 5px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* code hieronder weg */

.label{
    padding: 10px;
    background-color:lightslategray;
    color: lightgray;
    width: 200px;
    margin: 2px;
}