body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

td, th{
    padding: 5px;
    border: 1px solid black;
}


/* code hieronder weg */

.label{
    padding: 10px;
    background-color:lightslategray;
    color: lightgray;
    width: 200px;
    margin: 2px;
}

label{
    display: inline-block;
    padding-right: 10px;
    width: 100px;
    text-align: right;
}

input{
    padding: 10px;
}

button{
    margin-left: 100px;
    margin-top: 20px;
}