body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

td, th{
    padding: 5px;
    border: 1px solid black;
}

td:hover, th:hover{
    background-color: chartreuse;
}

.label{
    padding: 10px;
    background-color:lightslategray;
    color: lightgray;
    width: 200px;
    margin: 2px;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: burlywood;
}

.fields{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.buttons{
    background-color: bisque;
    width: 200px;
    display: flex;
    padding: 10px;
    left: 100px;
    border-radius: 5px;
}

label{
    width: 100px;
    font-size: medium;
}

input{
    padding: 10px;
    font-size: x-large;
}

button{
    margin: 10px;
    padding: 10px;
}