.container{
    display: flex;
    padding: 10px;
}

.dobbelsteen{
    display: flex;
    min-width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px black;
    border: 3px solid black;
}

.stip{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.links, .rechts, .midden{
    width: 100%;
    height: 100%;
}

/* TIP: Laat bovenstaande code staan */

/* dobbelsteen1 */
.dobbelsteen1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    min-width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px black;
    border: 3px solid black;
}

/* dobbelsteen2 */
.dobbelsteen2 .links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: red;
}
.dobbelsteen2 .rechts{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: red;
}
/* dobbelsteen3 */

/* dobbelsteen4 */

/* dobbelsteen5 */

/* dobbelsteen6 */


